header {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
  }
}
main {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  margin: unset;
  gap: 80px;
  background-color: transparent;
  div {
    display: flex;
  }
}
.left {
  flex-direction: column;
  justify-content: center;
  flex: 2;
}
.right {
  justify-content: center;
  padding: 10px;
  border-radius: 2.3rem;
  background-color: black;
}
.image {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Keeps the aspect ratio */
  border-radius: 1.8rem;
}
.boldy {
  font-weight: bold;
}
.left-h {
  font-size: 3.5rem;
}
.button {
  background-color: #495057;
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 2.5rem;
  gap: 10px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #495057; /* Replace with the color you want on hover */
  filter: invert(100%); /* Invert the color of the button content */
  transition: background-color 0.3s, filter 0.3s; /* Smooth transition for filter */
  cursor: pointer;
}

.button:hover img {
  filter: invert(100%); /* Invert the color of the image */
}
.button-icon {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }
}
.button-text {
  flex: 4;
  justify-content: center;
  align-items: center;
  color: white;
}
