<header>
  <p>RecoveryGrow</p>
  <div style="justify-content: center">
    <img src="assets/menu.png" alt="" style="width: auto; height: 25px" />
  </div>
</header>
<main>
  <div class="left">
    <div><p>Community Supported App</p></div>
    <div style="flex-direction: column">
      <div>
        <h1 class="boldy left-h">
          Welcome to a New Beginning
          <p style="font-weight: normal; margin: unset; white-space: nowrap">
            with RecoveryGrow
          </p>
        </h1>
      </div>
    </div>
    <div>
      <p>
        Transform negative habits into positive changes and forge connections
        with a community that empathizes with your journey.
      </p>
    </div>
    <div style="margin-top: 30px; gap: 30px">
      <div class="button">
        <div class="button-icon">
          <img class="button-icon-png" src="/assets/app-store.png" />
        </div>
        <div class="button-text">
          <p>Download on the <strong> App Store </strong></p>
        </div>
      </div>
      <div>
        <div class="button">
          <div class="button-icon">
            <img src="/assets/play-store.png" class="button-icon-png" />
          </div>
          <div class="button-text">
            <p>Download on the <strong>Play Store</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-item right">
    <img [src]="images[currentIndex]" />
    <button (click)="next()" class="right-button">></button>
    <button (click)="prev()" class="left-button"><</button>
  </div>
</main>

<footer></footer>
