/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  background: linear-gradient(to bottom, #68d8d6, #c4fff9);
  height: 100vh;
}
p {
  font-family: Lexend;
  margin: unset;
}
h1 {
  font-family: Lexend;
  margin-top: 30px;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel {
  width: 100%;
  position: relative;
  display: block;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 1;
  display: flex;
}

.carousel-item.active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  padding: 10px 15px 10px 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.right-button {
  right: 8%;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.left-button {
  left: 8%;
}

/* CSS */
